# Virtual environment
.venv/
venv/
ENV/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables (secret keys)
.env

# Generated Output / Prescriptions
output/prescriptions/*
!output/prescriptions/.gitkeep
temp_audio/

# Frontend dependencies and builds
node_modules/
**/node_modules/
dist/
**/dist/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
