# Virtual environment
.venv/
venv/
ENV/

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables & Private Keys (Secrets)
.env
*.pem
*.key

# Generated Output / Prescriptions / Test Audio
output/*
!output/prescriptions/.gitkeep
temp_audio/
*.wav
*.mp3

# Frontend dependencies and builds
node_modules/
**/node_modules/
dist/
**/dist/

# IDEs & System files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
